<!-- Platform Logo -->
<%= link_to root_path do %>
  <div class="platform-logo">
    <%= image_tag('mock_logo.png', size: "110x110") %>
    <div class="logo-name-container">
      <p>BlueNami</p>
      <span class="logo-tagline">TagLine Here</span>
    </div>
  </div>
<% end %>
